/* Loading page styles */
.loadAll {
  overscroll-behavior: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.loadBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.loadText {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: #dbe2e7;
  font-size: 48px;
}

.load {
  font-family: "Poppins";
  display: flex;
  gap: 20px;
}

.bgText {
  font-size: 730px;
  font-family: "Poppins";
  font-weight: bold;
  position: absolute;
  z-index: -1;
}

.colorRed {
  color: #e54671;
}

.colorYellow {
  color: #ffc80b;
}
