.button {
  padding: 8px 8px;
  display: flex;
  border-radius: 100px;
  width: fit-content;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  border: none;
  transition: 100ms;
}

.gray {
  background-color: #e0e8f0;
}

.red {
  background: linear-gradient(97.4deg, #f84f90 0%, #ed4b4b 100%);
}

.none {
  background: none;
}
