.inputBox {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: #f1f3f6;
  font-weight: bold;
  font-size: 16px;
  color: #2c3e50;
  height: 40px;
  width: 100%;
  border-radius: 50px;
  padding: 0 16px;
}

.input:focus {
  border: 2px solid #4fa1f8;
  z-index: 10;
  outline: 0;
}

.label {
  font-size: 16px;
  color: #2c3e50;
  font-weight: bold;
  padding-left: 16px;
}
