.container {
  width: 100%;
  background: linear-gradient(97.4deg, #f84f90 0%, #ed4b4b 100%);
  height: 200px;
  border-radius: 0px 0px 30px 30px;
  color: #ffffff;
  z-index: 10;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  top: 0;
  box-shadow: 0px 12px 26px rgba(242, 77, 107, 0.2);
  overflow: hidden;
}

.icon {
  position: fixed;
  left: 10px;
  top: 20px;
}

.imgContainer {
  position: absolute;
  bottom: -70px;
  left: -30px;
  z-index: 0;
}

.textContainer {
  width: 66%;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  padding: 28px 0;
  gap: 4px;
}

.title {
  font-weight: bold;
  font-size: 32px;
  margin-left: -3px;
}

.description {
  font-weight: 600;
  font-size: 12px;
}
