.button {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  font-weight: bold;
  width: 200px;
  padding: 10px 0;
  font-size: 16px;
  overflow: hidden;
}

.red {
  background: linear-gradient(97.4deg, #f84f90 0%, #ed4b4b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0px 12px 26px rgba(242, 77, 107, 0.2);
}

.blue {
  background: linear-gradient(97.4deg, #4ff8f8 0%, #4b89ed 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0px 12px 26px rgba(77, 185, 242, 0.2);
}

.green {
  background: linear-gradient(97.4deg, #a7f84f 0%, #4bed74 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: 0px 12px 26px rgba(117, 242, 100, 0.2);
}
