.load-all {
  overscroll-behavior: none;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.load-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.load-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: #dbe2e7;
  font-size: 48px;
}

.load {
  font-family: "Poppins";
  display: flex;
  gap: 20px;
}

.bg-text {
  font-size: 730px;
  font-family: "Poppins";
  font-weight: bold;

  position: absolute;
  z-index: -1;
}

.color-red {
  color: #e54671;
}
.color-yellow {
  color: #ffc80b;
}
